* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}


nav > ul {
    position: sticky;
    place-items: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 200px;
    height: 80px; 
}

.right-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.tuitt-button {
    padding: 10px 15px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #c2195b;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    position: relative;
}
.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
}
.container {
    color: white;
    text-align: end;
    position: absolute;
    right: 140px;
    width: 590px;
}
.title {
    font-family: 'Zilla Slab', serif;
    font-size: 50px;
    padding-bottom: 20px;
}
.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}
.apply-button {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #c2195b;
}
.intro {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    text-align: center;
    width: 75%;
}
.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    margin: 80px 0;
}
.intro-description {
    text-align: left;
}

.pre-footer{
    text-align: center;
    background-color: #f7fbfb;
    padding-top: 10px;
    padding-bottom: 130px;
}

.prefooter-description{
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.book-button {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background-color: #336589;
}

footer {
    text-align: center;
}